<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" routerLink="/profile" routerDirection="forward">
      <img src="assets/imgs/back.svg" alt="..." class="back-icon">
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon name="notifications"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>EDIT PROFILE</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <div class="edit-profile">
    <ion-row>
      <ion-col style="text-align: center;">
        <img src="assets/imgs/upload.svg" class="upload-img">
      </ion-col>
    </ion-row>
    <div class="form-group">
        <div class="input-group">
          <input type="text" class="form-control form-control-input" name="fullname" placeholder="FullName">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <input type="number" class="form-control form-control-input" name="phone" placeholder="Mobile Number">
        </div>
      </div>
      <div class="form-group">
        <div class="select-group ">
            <ion-label>Gender</ion-label>
            <ion-select >
              <ion-select-option value="f">Female</ion-select-option>
              <ion-select-option value="m">Male</ion-select-option>
              <ion-select-option value="t">Transgender</ion-select-option>
            </ion-select>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <input type="text" class="form-control form-control-input" name="fullname" placeholder="Address">
        </div>
      </div>
  </div>
</ion-content>