<ion-header  class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" routerLink="/register" routerDirection="forward">
      <img src="assets/imgs/Back Icon.png" alt="..." class="back-icon">
    </ion-buttons>
    <ion-title class="auth-title">Login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <form>
    <div class="form">

      <div class="form-group">
        <div class="input-group">
          <img src="assets/imgs/Email Icon.png" class="form-icon email-icon">
          <input type="text" class="form-control" name="userName" placeholder="Email ID">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <img src="assets/imgs/Password Icon.png" class="form-icon">
          <input type="text" class="form-control" name="userName" placeholder="Password">
        </div>
      </div>
      <div class="form-group">
        <a mode="ios" routerLink="/forgot" routerDirection="forward">
        FORGOT PASSWORD?</a>
      </div>
      <div class="form-group">
        <ion-button expand="block" color="red" class="auth-button">LOGIN</ion-button>
      </div>
      <br>
      <div>
        <div>
          OR LOGIN WITH
        </div>
        <ion-row>
          <ion-col size="4">
            <img src="assets/imgs/facebook.png" class="socail-icon" alt="...">
          </ion-col>
          <ion-col size="4">
            <img src="assets/imgs/Google.png" class="socail-icon" alt="...">
          </ion-col>
          <ion-col size="4">
            <img src="assets/imgs/Twitter.png" class="socail-icon" alt="...">
          </ion-col>
        </ion-row>
      </div>
      

    </div>
    <div class="auth-bottom">
        <div class="text">
          Don’t have an account ?  
        </div>
        <div class="auth-text" mode="ios" routerLink="/register" routerDirection="forward">
          REGISTER
        </div>
      </div>
  </form>
</ion-content>