<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" routerLink="/home" routerDirection="forward">
      <img src="assets/imgs/back.svg" alt="..." class="back-icon">
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon name="notifications"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>NOTIFICATION</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <div class="booking-item">
    <ion-row>
      <ion-col size="2">
        <div class="notification-item d-flex-center">
          <img src="assets/imgs/Calendar.svg" class="menu-icon">
        </div>
      </ion-col>
      <ion-col size="10" class="d-flex-vertical">
        <div>
          <ion-label class="text t-align-l">
            <b>
              You have a message from Dr. George
            </b>
          </ion-label>
          <div class="text t-align-l">
            5 mins ago
          </div>
        </div>
      </ion-col>
    </ion-row>
  </div>
  <div class="booking-item">
    <ion-row>
      <ion-col size="2">
        <div class="notification-item d-flex-center">
          <img src="assets/imgs/Calendar.svg" class="menu-icon">
        </div>
      </ion-col>
      <ion-col size="10" class="d-flex-vertical">
        <div>
          <ion-label class="text t-align-l">
            <b>
              You have a message from Dr. George
            </b>
          </ion-label>
          <div class="text t-align-l">
            5 mins ago
          </div>
        </div>
      </ion-col>
    </ion-row>
  </div>
  <div class="booking-item">
    <ion-row>
      <ion-col size="2">
        <div class="notification-item d-flex-center">
          <img src="assets/imgs/Calendar.svg" class="menu-icon">
        </div>
      </ion-col>
      <ion-col size="10" class="d-flex-vertical">
        <div>
          <ion-label class="text t-align-l">
            <b>
              You have a message from Dr. George
            </b>
          </ion-label>
          <div class="text t-align-l">
            5 mins ago
          </div>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>