<ion-content fullscreen>
  <div class="welcome">
    <ion-slides>
      <ion-slide pager>
        <div class="slide">
          <div class="welcome-rectangle">
            <img src="assets/imgs/welcome1.jpg">
          </div>
          <div class="welcom-rectangle-shadow1">
          </div>
          <div class="welcom-rectangle-shadow2">
          </div>
          <br>
          <br>
          <div class="welcome-title">
            FIND DOCTORS
          </div>
          <div class="welcome-text">
            Search by category of physician in
            an extensive database.
          </div>
          <div class="welcome-skip" mode="ios" routerLink="/register" routerDirection="forward">
            SKIP
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="slide">
          <div class="welcome-rectangle">
            <img src="assets/imgs/welcome2.jpg">
          </div>
          <div class="welcom-rectangle-shadow1">
          </div>
          <div class="welcom-rectangle-shadow2">
          </div>
          <br>
          <br>
          <div class="welcome-title">
            SEARCH LOCATION
          </div>
          <div class="welcome-text">
           Use your location for Quick search.
          </div>
          <div class="welcome-skip" mode="ios" routerLink="/register" routerDirection="forward">
            SKIP
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="slide">
          <div class="welcome-rectangle">
            <img src="assets/imgs/welcome3.jpg">
          </div>
          <div class="welcom-rectangle-shadow1">
          </div>
          <div class="welcom-rectangle-shadow2">
          </div>
          <br>
          <br>
          <div class="welcome-title">
            SET APPOINTMENT
          </div>
          <div class="welcome-text">
           Manage your appointment effectively and easily.
          </div>
          <div class="welcome-skip" mode="ios" routerLink="/register" routerDirection="forward">
            SKIP
          </div>
        </div>
      </ion-slide>
    </ion-slides>
  </div>
  <div class="welcome-action">
    <div class="login-text">
      <a  mode="ios" routerLink="/login" routerDirection="forward">
        LOGIN
      </a>
    </div>
  </div>
</ion-content>