<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" routerLink="/home" routerDirection="forward">
      <img src="assets/imgs/back.svg" alt="..." class="back-icon">
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon name="notifications"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>BOOK AN APPOINTMENT</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-card>
    <ion-card-content style="padding: 0px;">
      <div class="appointment-card-content">
        <ion-row>
          <ion-col size="3" class="d-flex-center">
            <div>
              <img src="assets/imgs/doctor.png" class="book-doctor-img">
            </div>
          </ion-col>
          <ion-col size="9">
            <div class="booking-card-content-text">
              <div class="appointment-text t-align-l">
                <strong>DR. Victor Magalhaes</strong>
              </div>
              <div class="text t-align-l">
                MBBS, DNB - Ophthalmology,
              </div>
              <div>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
              </div>
            </div>
          </ion-col>
        </ion-row>
        <div class="book-favorite">
          <img src="assets/imgs/Favourite.svg">
        </div>
      </div>
    </ion-card-content>
  </ion-card>
  <div class="booking-item">
    <ion-row>
      <ion-col>
        <div class="text t-align-l">
          Available Dates
        </div>
      </ion-col>
    </ion-row>
    <div class="calendar-form">
      <ion-row>
        <ion-col>
          <ion-label>
            {{viewTitle}}
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <calendar [eventSource]="eventSource" [calendarMode]="calendar.mode" [currentDate]="calendar.currentDate"
            [showEventDetail]="false" (onTitleChanged)="onViewTitleChanged($event)" startHour="6" endHour="20" step="30"
            startingDayWeek="1">
          </calendar>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <div class="booking-item">
    <ion-row>
      <ion-col>
        <div class="text t-align-l">
          Available Timings
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">
        <div class="text select-item">
          9:00am
        </div>
      </ion-col>
      <ion-col size="3">
        <div class="text select-item">
          10:00am
        </div>
      </ion-col>
      <ion-col size="3">
        <div class="text select-item">
          11:00am
        </div>
      </ion-col>
      <ion-col size="3">
        <div class="text select-item">
          3:00pm
        </div>
      </ion-col>
    </ion-row>
  </div>
  <div class="booking-item">
    <ion-row>
      <ion-col size="9">
        <div class="text t-align-l">
          Location
        </div>
        <div class="text t-align-l">
          <b>Saint Francis Memorial Hospital</b>
        </div>
        <div class="text t-align-l">
          #4, San Francisco, CA, USA
        </div>
      </ion-col>
      <ion-col size="3">
        <div class="appointment-map">
          <img src="assets/imgs/position.svg">
        </div>
      </ion-col>
    </ion-row>
  </div>
  <div class="booking-item">
    <ion-row>
      <ion-col>
        <div class="text t-align-l">
          Whom to book for?
        </div>
      </ion-col>
    </ion-row>
    <ion-item no-lines lines="none">
      <ion-checkbox color="success" slot="end"></ion-checkbox>
      <ion-label class="d-flex" style="display: flex!important;">
        <img src="assets/imgs/doctor.png">
        &nbsp;&nbsp;&nbsp;
        <div class="text d-flex-center">
          Shasha williams
        </div>
      </ion-label>
    </ion-item>
    <ion-item no-lines lines="none">
      <ion-checkbox color="success" slot="end"></ion-checkbox>
      <ion-label class="d-flex" style="display: flex!important;">
        <img src="assets/imgs/doctor.png">
        &nbsp;&nbsp;&nbsp;
        <div class="text d-flex-center">
          Shasha williams
        </div>
      </ion-label>
    </ion-item>
    <ion-item no-lines lines="none">
      <ion-checkbox color="success" slot="end"></ion-checkbox>
      <ion-label class="d-flex" style="display: flex!important;">
        <img src="assets/imgs/doctor.png">
        &nbsp;&nbsp;&nbsp;
        <div class="text d-flex-center">
          Shasha williams
        </div>
      </ion-label>
    </ion-item>
  </div>
  <div class="booking-item">
    <ion-row>
      <ion-col>
        <div class="text t-align-l">
          Reason For Appointment
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <textarea placeholder="Enter more information here..." class="form-textarea"></textarea>
      </ion-col>
    </ion-row>
  </div>
  <br>
  <br>
  <br>
  <div class="filter-form-action">
    <ion-button expand="full" color="success" (click)="goConfirm()">CONFIRM</ion-button>
  </div>
</ion-content>