<ion-app>
  <ion-menu side="end" contentId="content" menuId="1" fullscreen>
    <ion-header no-border>
      <ion-toolbar translucent color="primary">
        <ion-icon name="close" class="close-icon" (click)="goHome()"></ion-icon>
        <div class="menu-header">
          <img src="assets/imgs/user.png" class="user-img">
          <div class="menu-user-infor">
            <div>
              SHASHAH WILLIAMS
            </div>
            <div class="map-text">
              <img src="assets/imgs/MapIcon.svg" class="map-icon"> San Francisco, CA
            </div>
          </div>
        </div>
        <img src="assets/imgs/logout.svg" class="logout-img" (click)="logout()">
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div class="" style="padding: 20px 30px;">
        <ion-list >
          <div class="item-list" (click)="onChangeRoute('home')">
            <div class="item">
              <ion-icon name="home" class="home-icon"></ion-icon>
            </div>
            <label>
              HOME
            </label>
          </div>
        </ion-list>
        <ion-list>
          <div class="item-list" (click)="onChangeRoute('appointment')">
            <div class="item">
              <img src="assets/imgs/Calendar.svg" class="menu-icon">
            </div>
            <label>
              APPOINTMENTS
            </label>
          </div>
        </ion-list>
        <ion-list>
          <div class="item-list" (click)="onChangeRoute('favorite')">
            <div class="item">
              <img src="assets/imgs/Favourite.svg" class="menu-icon">
            </div>
            <label>
              FAVOURITES
            </label>
          </div>
        </ion-list>
        <ion-list>
          <div class="item-list" (click)="onChangeRoute('profile')">
            <div class="item">
              <img src="assets/imgs/Profile.svg" class="menu-icon">
            </div>
            <label>
              PROFILE
            </label>
          </div>
        </ion-list>
        <ion-list>
          <div class="item-list" (click)="onChangeRoute('health')">
            <div class="item">
              <img src="assets/imgs/Camp.svg" class="menu-icon">
            </div>
            <label>
              HEALTH CAMP
            </label>
          </div>
        </ion-list>
        <ion-list>
          <div class="item-list" (click)="onChangeRoute('help')">
            <div class="item">
              <img src="assets/imgs/Help.svg" class="menu-icon">
            </div>
            <label>
              HELP
            </label>
          </div>
        </ion-list>
      </div>

    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content" main></ion-router-outlet>
</ion-app>