<ion-content fullscreen>
  <img src="assets/imgs/back.svg" alt="..." class="health-view-back" routerLink="/health" routerDirection="forward">
  <div>
    <img src="assets/imgs/health.jpg" class="health-view-img">
  </div>
  <div class="health-camp-content">
    <div class="health-camp-item">
      Free health check up camp
      <ion-row>
        <div class="book-icon">
          <img src="assets/imgs/book.svg">
        </div>
        <label class="health-camp-text">
          Wed, 05 Sep 2018
        </label>
      </ion-row>
      <ion-row>
        <div class="book-icon">
          <img src="assets/imgs/time.svg">
        </div>
        <label class="health-camp-text">
          09am - 06:0pm
        </label>
      </ion-row>
    </div>
    <div class="health-camp-item">
      <ion-row>
        <label class="health-camp-text">
          <h6>Address</h6>
        </label>
      </ion-row>
      <ion-row>
        <label class="health-camp-text">
          <strong>Saint Francis Memorial Hospital</strong>
        </label>
      </ion-row>
      <ion-row>
        <label class="health-camp-text">
          #4, San Francisco, CA, USA
        </label>
      </ion-row>
    </div>
    <div class="health-camp-item">
      <ion-row>
        <label class="health-camp-text">
          <h6>Organised by Doctor</h6>
        </label>
      </ion-row>
      <ion-row>
        <div class="doctor-icon">
          <img src="assets/imgs/doctor.png">
        </div>
        <div>
          <label class="health-camp-text">
            <strong>DR. Victor Magalhaes</strong>
          </label>
          <label class="health-camp-text">
            MBBS, DNB - Ophthalmology,
          </label>
        </div>
      </ion-row>
    </div>
    <div class="health-camp-item">
      <ion-row>
        <label class="health-camp-text">
          <h6>Instructions</h6>
        </label>
      </ion-row>
      <ion-row>
        <label class="health-camp-text">
          Health insurance policies entitle policyholders to a free medical
          check-up once every four years. Most policyholders know about it.
          Still, say experts, not more ...
        </label>
      </ion-row>
    </div>
  </div>
</ion-content>