/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.back-icon {
  width: 17px;
  height: 17px;
  cursor: pointer;
}
.back-button {
  position: absolute;
  left: 10px;
}
.auth-title {
  letter-spacing: 1px;
  color: #000000;
  font-weight: 500;
  font-family: "Roboto";
  text-align: center;
}
.avatar {
  text-align: center;
}
.avatar-img {
  width: 125px;
  height: 125px;
}
.camera {
  width: 28px;
  height: 28px;
  border-radius: 20px;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: -40px;
  left: 57%;
}
.camera-icon {
  color: white;
  font-size: 17px;
}
.form-group {
  text-align: center;
}
.form-control {
  height: 40px;
  border-radius: 5px;
  filter: drop-shadow(0px 22px 20px rgba(0, 0, 0, 0.19));
  background-color: #ffffff;
  border: none !important;
  padding-left: 30px;
  padding-right: 5px;
  letter-spacing: 1px;
  width: 100%;
  outline: none;
  color: #000000;
  font-weight: 400;
  font-family: "Roboto";
}
.form-control:focus {
  border: none !important;
}
.form-control:active {
  border: none !important;
}
.form-icon {
  position: absolute;
  z-index: 10;
  width: 15px;
  margin-top: 10px;
  margin-left: 8px;
}
.form-group {
  padding: 10px 0;
}
.email-icon {
  margin-top: 14px;
}
.form {
  padding: 15px 70px;
}
.auth-button {
  background: red !important;
  height: 50px;
}
.text {
  color: #000000;
  font-weight: 300;
  font-family: "Roboto";
  text-align: center;
  font-size: 12px;
}
.auth-text {
  font-size: 16px;
  letter-spacing: 0px;
  cursor: pointer;
  color: #000000;
  font-weight: 500;
  font-family: "Roboto";
  text-align: center;
  outline: none !important;
}
.form-group a {
  font-size: 15px;
  text-decoration: none;
  color: #000000;
  font-weight: 400;
  font-family: "Roboto";
  text-align: right;
}
.socail-icon {
  width: 54px;
  height: 54px;
}
.auth-bottom {
  // position: fixed;
  width: 100%;
  top: 90vh;
}
ion-buttons {
  outline: none;
}
.forgot-img {
  width: 96px;
  height: 96px;
}
ion-menu {
  --min-width: 100%;
}

.user-img {
  width: 76px;
  height: 76px;
}
.menu-header {
  padding: 22px 30px;
  display: flex;
}
.close-icon {
  font-size: 26px;
  float: right;
  margin-right: 11px;
  margin-top: 5px;
  cursor: pointer;
}
.map-icon {
  width: 10px;
}
.menu-user-infor {
  margin-left: 20px;
  padding-top: 17px;
}
.map-text {
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Roboto";
  text-align: center;
}
.logout-img {
  width: 60px;
  position: absolute;
  margin-top: -58px;
  right: 28px;
  cursor: pointer;
}
.item {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #9a9a9a;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon {
  font-size: 22px;
}
.item-list {
  display: flex;
}
.item-list label {
  margin-left: 20px;
  display: flex;
  align-items: center;
}
.menu-icon {
  width: 20px;
}
.health-img {
  width: 100%;
  height: 150px;
}
.health-content {
  padding: 10px;
}
.health-card-header {
  padding: 0px !important;
}
.health-card {
  border-radius: 10px !important;
}
.h2 {
  color: black !important;
}
.health-view-img {
  width: 100%;
  height: 250px;
}
.health-view-back {
  position: absolute;
  height: 21px;
  top: 30px;
  left: 10px;
  outline: none !important;
  cursor: pointer;
}
.health-camp-item {
  letter-spacing: 1px;
  line-height: 20px;
  color: #3d3d3d;
  font-weight: 300;
  font-family: "Roboto";
  // text-align: center;
  font-size: 21px;
  padding: 10px 24px;
  border-bottom: 1px solid gainsboro;
}
.book-icon {
  width: 35px;
  height: 35px;
  border-radius: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
  margin: 5px 10px;
}
.health-camp-text {
  display: flex;
  align-items: center;
  color: black;
  font-size: 13px;
}
.book-icon img {
  width: 16px;
}
.doctor-icon {
  margin-right: 10px;
}
.user-infor-group {
  width: 100%;
  // height: 240px;
  filter: drop-shadow(0px 8px 23px rgba(0, 0, 0, 0.34));
  background-color: #ffffff;
  padding: 20px 20px;
}
.profile-item {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background: white;
  filter: drop-shadow(0 0 9px rgba(0, 0, 0, 0.16));
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.profile-item ion-icon {
  font-size: 24px;
}
.user-detail {
  padding: 15px 20px;
}
.user-detail-text {
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 30px;
  color: black;
  font-weight: 400;
  font-family: "Roboto";
}
.edit-icon {
  width: 20px;
  position: absolute;
  right: 20px;
  cursor: pointer;
}
.edit-profile {
  padding: 15px 50px;
}
.upload-img {
  width: 100px;
}
.input-group {
  width: 100%;
}
.form-control-input {
  padding: 5px 15px;
}
.select-group {
  border-radius: 5px;
  -webkit-filter: drop-shadow(0px 22px 20px rgba(0, 0, 0, 0.19));
  filter: drop-shadow(0px 22px 20px rgba(0, 0, 0, 0.19));
  background-color: #ffffff;
  border: none !important;
  padding: 5px 5px;
  letter-spacing: 1px;
  width: 100%;
  outline: none;
  color: #000000;
  font-weight: 400;
  font-family: "Roboto";
  text-align: initial;
}
.input {
  width: 100%;
  border-radius: 37px;
  border: 2px solid grey;
  padding: 2px;
  outline: none;
  margin-top: 3px;
}
.custom-select{
    padding: 5px;
}
.ion-item{
  width: 100%;
  border: none;
  border-radius: 10px;
    height: 40px;
  border-radius: 5px;
  filter: drop-shadow(0px 22px 20px rgba(0, 0, 0, 0.19));
  background-color: #ffffff;
}
