<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" routerLink="/welcome" routerDirection="forward" class="back-button">
      <img src="assets/imgs/Back Icon.png" alt="..." class="back-icon">
    </ion-buttons>
    <ion-title class="auth-title">Register</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <div class="avatar">
    <img src="assets/imgs/avatar.png" class="avatar-img">
    <div class="camera">
      <ion-icon name="camera" class="camera-icon"></ion-icon>
    </div>
  </div>
  <form>
    <div class="form">
      <div class="form-group">
        <div class="input-group">
          <img src="assets/imgs/User Icon.png" class="form-icon">
          <input type="text" class="form-control" name="userName" placeholder="Username">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <img src="assets/imgs/Email Icon.png" class="form-icon email-icon">
          <input type="text" class="form-control" name="userName" placeholder="Email ID">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <img src="assets/imgs/Password Icon.png" class="form-icon">
          <input type="text" class="form-control" name="userName" placeholder="Password">
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <img src="assets/imgs/Password Icon.png" class="form-icon">
          <input type="text" class="form-control" name="userName" placeholder="Confirm Password">
        </div>
      </div>
      <div class="form-group">
        <ion-button expand="block" color="red" class="auth-button">SUBMIT</ion-button>
      </div>
    </div>
    <div class="auth-bottom">
      <div class="text">
        Already have an account ?
      </div>
      <div class="auth-text" mode="ios" routerLink="/login" routerDirection="forward">
        LOGIN
      </div>
    </div>
  </form>
</ion-content>